@import "@/styles/mixins";

.project_card{
    .figure{
        @include aspectRatio(846, 624);
    }
    .image{
        transition: all .4s ease-in-out;
        border-radius: 10px;
        overflow: hidden;
    }
    &:hover{
        .image{
            transform:  translateX(-20px);
        }
    }
}