@import "../../../../styles/util";

.header {
  position: absolute;
  z-index: 1024;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
  padding: 20px 0;

  :global(.container) {
    max-width: 1680px;
    @include max(1599.98) {
      max-width: 1394px;
    }
  }

 


  :global(.nav-link) {
    @include min-max(992, 1199.98) {
      --bs-nav-link-font-size: 14px;
      --bs-navbar-nav-link-padding-x: 11px;
    }
    transition: all 0.4s cubic-bezier(0.64, -0.21, 0.18, 0.54);
  }

  :global(.dropdown-toggle) {
    display: inline-flex;
    align-items: center;
  }

  :global(.navbar-toggler) {
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    outline: none!important;
      box-shadow: none!important;

    span {
      display: block;
      width: 26px;
      height: 2px;
      background: #fff;
      margin-bottom: 7px;
      transition: all 0.4s;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .nav_brand {
    width: 30px;
    height: 40px;
    transition: all 0.4s;
    @include min(768){
      width: 40px;
    }
    @include min-max(992, 1150) {
      width: 60px !important;
    }
    @include min(992) {
      width: 60px;
    }

    @include min(1300) {
      width: 60px;
    }
  }

  .img_wrap {
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    @include aspectRatio(107, 63);
  }

  :global(.navbar-nav) {
    --bs-nav-link-color: #fff;
    transition: all 0.4s cubic-bezier(0.64, -0.21, 0.18, 0.54);
    @include min(1200) {
      --bs-nav-link-hover-color: #{$primary};
    }
    --bs-nav-link-font-size: 16px;
    --bs-navbar-nav-link-padding-x: 14px;
    --bs-nav-link-font-weight: 500;

    @include min(1200) {
      --bs-navbar-nav-link-padding-x: 1.1111rem;
    }

    .btn_arrow {
      overflow: hidden;
      margin-left: 10px;
    }
  }

  :global(.navbar) {
    --bs-navbar-padding-y: 0.2rem;
  }
  :global(.dropdown_projects) {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    &:before {
      content: "";
      position: absolute;
      /* bottom: 0; */
      top: -30px;
      display: block;
      left: 0;
      height: 110px;
      width: 100px;
    }

    &:after {
      content: "";
      position: absolute;
      right: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9.974' height='6.291' viewBox='0 0 9.974 6.291'%3e%3cg id='Group_64704' data-name='Group 64704' transform='translate(0.512 5.23) rotate(-90)'%3e%3cpath id='Path_76841' data-name='Path 76841' d='M4.208,9.462l-5.269-4.9L3.673-.512,4.77.512,1.061,4.485,5.23,8.364Z' transform='translate(0 0)' fill='%23fff'/%3e%3c/g%3e%3c/svg%3e ");
      width: 10px;
      height: 6px;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin-left: 12px;
      transition: all 0.4s cubic-bezier(0.64, -0.21, 0.18, 0.54);
    }
  }

  :global(.dropdown-menu) {
    opacity: 1;
    display: block;
    position: absolute;
    top: 68px;
    left: 20px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 7px 12px 0px rgb(0 0 0 / 5%);
    width: auto;
    padding: 20px 30px;
    min-height: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: 0;
    li {
      position: relative;
      a {
        display: block;
        padding: 14px 0;
        font-size: 16px;
        font-weight: 500;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        &:hover {
          background-color: #fff;
          color: $primary;
        }
      }
      &.active {
        color: $primary;
      }
    }
  }
}

.header.slim_header {
  position: fixed;
  background-color: #000;
  border-bottom: 1px solid rgba(226, 226, 226, 0.3);
  padding: 10px 0;

  .img_wrap {
    padding-bottom: 41.878505%;
  }

  :global(.navbar-nav) {
    --bs-nav-link-color: #000;
    @include min(1200) {
      --bs-nav-link-hover-color: #{$primary};
    }
    --bs-nav-link-font-size: 16px;
    --bs-navbar-nav-link-padding-x: 14px;
    --bs-nav-link-font-weight: 500;
    @include min(1200) {
      --bs-navbar-nav-link-padding-x: 1.1111rem;
    }
    .btn_arrow {
      overflow: hidden;
      margin-left: 10px;
    }
  }
  :global(.button-secondary) {
    --btn-background: #{$primary};
    color: #fff;
    transition: 0.4s cubic-bezier(0.1, 0, 0.3, 1);

    &:hover {
      --btn-hover-color: rgb(255, 255, 255);
      --btn-hover-background: #{$primary-dark};
      --btn-hover-border: #{$secondary};
    }
  }

  :global(.navbar-toggler) {
    &:focus{
      
    }
    span {
      background: #fff;
    }
  }

  .nav_brand {
    width: 30px;
    
    @include min(768) {
      width: 40px;
      
    }
    @include min(1200) {
      width: 80px;
    }
    @include max(767){
      height: 50px;
    }
  }
  :global{
    .nav-link{
      color: #fff;
    }
  }


  :global(.dropdown_projects) {
    &:after {
      content: "";
      position: absolute;
      right: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='9.974' height='6.291' viewBox='0 0 9.974 6.291'%3e%3cg id='Group_64704' data-name='Group 64704' transform='translate(0.512 5.23) rotate(-90)'%3e%3cpath id='Path_76841' data-name='Path 76841' d='M4.208,9.462l-5.269-4.9L3.673-.512,4.77.512,1.061,4.485,5.23,8.364Z' transform='translate(0 0)' fill='%23000'/%3e%3c/g%3e%3c/svg%3e ");
      width: 10px;
      height: 6px;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin-left: 12px;
      transition: all 0.4s cubic-bezier(0.64, -0.21, 0.18, 0.54);
    }
  }
}

.flag_item {
  display: inline-flex;
  align-items: center;

  &_img {
    width: 21px;
    height: 17px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    img {
      object-fit: cover;
    }
  }

  &_info {
    padding-left: 8px;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #000;
  }
}

@include min(1200) {
}

.header {
  // transform: translateY(-20%);
  // opacity: 0;
  // will-change: transform, opacity;
  // transition: all 1s;
  // -webkit-transition: all 1s;
  // -moz-transition: all 1s;
  // -ms-transition: all 1s;
  // -o-transition: all 1s;
  // -webkit-transform: translateY(-20%);
  // -moz-transform: translateY(-20%);
  // -ms-transform: translateY(-20%);
  // -o-transform: translateY(-20%);
}
// .header.loadHeadernew {
//     opacity: 1;
//     transform: translateY(0);
//     -webkit-transform: translateY(0);
//     -moz-transform: translateY(0);
//     -ms-transform: translateY(0);
//     -o-transform: translateY(0);
// }

.header.slim_header {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.header.slim_header.anim_header {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.8s transform ease;
  -webkit-transition: 0.8s transform ease;
  -moz-transition: 0.8s transform ease;
  -ms-transition: 0.8s transform ease;
  -o-transition: 0.8s transform ease;
  will-change: transform;
}


.mob_menu {
  padding: size(16) size(16) size(41);
  &__bottom {
    background-color: #1c1c1e;
    padding: size(50) size(16);
    .patient_login {
      padding-bottom: size(24);
      margin-bottom: size(40);
      border-bottom: 1px dotted rgba(#f1f1f1, 0.44);
      ~ :global(.nav-item) {
        &:not(:last-of-type) {
          margin-bottom: size(15);
        }
        button {
          max-width: 234px;
          width: 100%;
        }
      }
      button {
        color: #fff;
        display: flex;
        align-items: center;
        svg {
          margin-right: 10px;
        }
      }
    }
  }

  :global {
    .accordion-header {
      .accordion-button {
        background-color: transparent;
        box-shadow: none !important;
        font-size: 22px;
        font-weight: $font-medium;
        font-family: $secondary-font;
        padding: size(20) 0;
        &:focus {
          box-shadow: none !important;
        }
        --bs-accordion-btn-color: #000000 !important;
        --bs-accordion-active-color: #000000;
        &::after {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14.495' height='8.082' viewBox='0 0 14.495 8.082'%3e%3cpath id='Path_77132' data-name='Path 77132' d='M-3668-14733.5l6.369,5.98,6.779-5.98' transform='translate(3668.684 14734.248)' fill='none' stroke='%23000' stroke-width='2'/%3e%3c/svg%3e") !important;
          --bs-accordion-btn-icon-width: 13px;
          background-position-y: center;
        }
      }
    }
    .accordion-item {
      border-bottom: none;
    }
    .accordion-body {
      padding: 0;
      @include max(1199.98) {
        a {
          display: block;
          padding: size(19) 20px;
          font-size: 20px;
          line-height: 1;
        }
      }
    }

    .menu-link {
      button {
        &::after {
          display: none;
        }
      }
    }
  }
}

